@model BangazonWeb.ViewModels.ProductDetail

<h2>@Html.DisplayFor(model => model.CurrentProduct.Name)</h2>

<div class="row">
    <div class="col-md-3">@Html.DisplayFor(model => model.CurrentProduct.Description)</div>
    <div class="col-md-3">@Html.DisplayFor(model => model.CurrentProduct.Price)</div>
    <div class="col-md-3">@Html.DisplayFor(model => model.CurrentProduct.DateCreated)</div>
    <div class="col-md-3"><a asp-action="Purchase" asp-route-id="@Model.CurrentProduct.ProductId">Add to Cart</a></div>
</div>

<div>
    Seller: @Html.DisplayFor(model => model.CurrentProduct.User.FirstName) @Html.DisplayFor(model => model.CurrentProduct.User.LastName)
</div>

<div>
    &lt;&lt; <a asp-controller="ProductTypes" asp-action="List" asp-route-id="@Model.CurrentProduct.ProductTypeId">Back to List</a>
</div>
