@model BangazonWeb.ViewModels.ProductDetail

<h2>@Html.DisplayFor(model => model.CurrentProduct.Name)</h2>

<div class="row">
    <div class="col-md-3">@Html.DisplayFor(model => model.CurrentProduct.Description)</div>
    <div class="col-md-3">@Html.DisplayFor(model => model.CurrentProduct.Price)</div>
    <div class="col-md-3">@Html.DisplayFor(model => model.CurrentProduct.DateCreated)</div>
    @if (@Model.CurrentProduct.UserId != @Model.ChosenUser.UserId)
    {
        <div class="col-md-3"><a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.CurrentProduct.ProductId">Add to Cart</a></div>
    }
    else
    {
        <a asp-controller="Products" asp-action="Delete" asp-route-id="@Model.CurrentProduct.ProductId"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a asp-controller="Products" asp-action="EditInfo" asp-route-id="@Model.CurrentProduct.ProductId"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    }
</div>

<div>
    Seller: @Html.DisplayFor(model => model.CurrentProduct.User.FirstName) @Html.DisplayFor(model => model.CurrentProduct.User.LastName)
</div>

<div>
    &lt;&lt; <a asp-controller="ProductTypes" asp-action="List" asp-route-id="@Model.CurrentProduct.ProductTypeId">Back to List</a>
</div>
